<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="../../public/site.css">
</head>
<body>
    <p class="error">{{error}}</p>
    <p><a class="retry" href="/">Try another palindrome</a>
</body>
</html>
