<main class="container">
    <section class="not-found">
        <h1>404</h1>
        <p>WHOOPS!!! Looks like YOU stumbled into the WrOnG side of the DaISy GARDen!?</p>
        <p>TURN arOUnD qUICK hahah!</p>
        <a href="/">Return to Palindrome Checker</a>
    </section>
<main>
